{% extends "public/templates/public_template.html" %}

{% block title %} Features {% endblock %}

{% block last_nav %} Begin {% endblock %}

{% block main %}
    <div id="jumbo" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Currently Supported Features</h1>
                <p class="lead">Track our progress</p>
            </div>
    </div>

    <div class="container mb-5">
        <div id="functionality_box" class="row top-buffer">
            <div class="col">
                <h3>Overall Site</h3>
                <hr>
                <ul>
                    <li>
                        <a>Page and template rendering</a>
                    </li>
                    <li>
                        <a>More to come</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="structures_box" class="row top-buffer">
            <div class="col">
                <h3>Data Structures</h3>
                <hr>
                <ul>
                    <li>
                        <a>Test structure 1</a>
                    </li>
                    <li>
                        <a>Test structure 2</a>
                    </li>
                    <li>
                        <a>Test structure 3</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="algorithms_box" class="row top-buffer">
            <div class="col">
                <h3>Algorithms</h3>
                <hr>
                <ul>
                    <li>
                        Test algorithm 1
                    </li>
                    <li>
                        Test Algorithm 2
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}